$dark-bg-1:       #191c26;
$dark-bg-2:       #090B13;
$dark-bg-3:       #111319;
$light-gray:      #f7f7f7;
$main-color:      #ff6c00;
$text-color-1:    #555555;
$text-color-2:    #9DA4BD;
$title-color:     #303030; 
$white:           #ffffff;

$text-color-2-12per: rgba(157, 164, 189, 0.12);
$text-color-2-60: rgba(157, 164, 189, 0.6);